<div class="container">
  <div class="form author">
    <h2 class="mb-1">Register</h2>
    <div class="form-wrap new-author">
      <label for="title" class="field">
        <span class="label">First Name</span>
        <input
          type="text"
          class="input"
          autocomplete="off"
          title="Fist Name"
          name="firstName"
        />
      </label>
      <label for="title" class="field">
        <span class="label">Last Name</span>
        <input type="text" class="input" autocomplete="off" name="lastName" />
      </label>
      <label for="title" class="field">
        <span class="label">Email</span>
        <input type="text" class="input" autocomplete="off" name="email" />
      </label>
      <button class="btn btn-primary form-btn submit">submit</button>
    </div>
  </div>
</div>
